@model IEnumerable<Lab02.Models.InfoFarmaco>

@{
    ViewData["Title"] = "Upload";
}

<!--Vista para subir el archivo CSV. de inventario-->

<h1>Cargar Datos</h1>
<center><p class="h4">FARMACOS</p></center>
<p></p>

<form asp-controller="Home" asp-action="Index" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="formFile" class="form-label">Seleccione archivo csv.</label>
        <input class="form-control" type="file" name="file" id="formfile">
    </div>
    <center> <button type="submit" class="btn btn-outline-primary">Subir</button> </center>
</form>


<!--Dirige a la vista "Pedido" para poder ingresar datos y buscar el producto-->

<p>
    <div class="d-grid gap-2">
        <center>
            <button class="btn btn-primary" onclick="location.href='@Url.Action("Pedido", "Home")'" input name="option" type="button">Realizar pedido</button>
        </center>
    </div>
</p>


<div>
    <a asp-action="Add">Añadir Jugador...</a>
</div>

<p> Vista Previa archivo: </p>

<p>
    <table class="table" cellpadding="0" cellspacing="0">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CasaProductora)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Existencia)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CasaProductora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Existencia)
                </td>
            </tr>
            }
        </tbody>
    </table>
</p>

