@model IEnumerable<Lab02.Models.InfoFarmaco>
@{bool modelVacio = (Model != null);}

@{
    ViewData["Title"] = "Prueba";
}

<h1>Inventario</h1>


<link href="~/css/all.min.css" rel="stylesheet" />

<form method="post">
    <button name="BotonOrdenarPre" class="btn btn-outline-primary" asp-action="PreOrder"><i class="fas fa-sort-alpha-down"> Pre-Order</i></button>
    <button name="BotonOrdenarPost" class="btn btn-outline-primary" asp-action="PostOrder"><i class="fas fa-sort-alpha-down"> Post-Order</i></button>
    <button name="BotonOrdenaInr" class="btn btn-outline-primary" asp-action="OrdenAlfabetico"><i class="fas fa-sort-alpha-down"> In-Order</i></button>
    <button name="BotonOrdenarID" class="btn btn-outline-primary" asp-action="Inventario"><i class="fas fa-sort-numeric-down-alt"> Orden por ID</i></button>
    <button type="button" name="Rellenar" class="btn btn-outline-primary" onclick="location.href='@Url.Action("Inventario", "Home", new { Rellenar = true })'"> <i class="fas fa-paint-roller"> Rellenar</i></button>

    @if (modelVacio)
    {
        <table class="table" cellpadding="0" cellspacing="0">
            <thead class="table-dark">
                <tr dropzone="copy">
                    <th>
                        @Html.DisplayNameFor(model => model.ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CasaProductora)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Precio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Existencia)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CasaProductora)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Precio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Existencia)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</form>