@model IEnumerable<Lab02.Models.InfoFarmaco>

@{
    ViewData["Title"] = "Prueba";
}

<h1>Prueba</h1>


<h3>Prueba de busqueda</h3>
<!--asp-action="Search"-->

<link href="~/css/all.min.css" rel="stylesheet" />

<Div>
    <button name="BotonBuscar" onclick="location.href='@Url.Action("Busqueda","Home")'"><i class="fas fa-searchfas fa-search"></i></button>
    <input type="text" class="show" name="Buscador" placeholder="Buscar" />
</Div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@if (false)
{
    <table class="table" cellpadding="0" cellspacing="0">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CasaProductora)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Existencia)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CasaProductora)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Existencia)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}